In [1]:
from dotenv import find_dotenv, load_dotenv
load_dotenv(find_dotenv())

True

In [2]:
import pandas as pd
from langchain.chat_models import ChatOpenAI
from langchain.agents import create_pandas_dataframe_agent

In [3]:
df = pd.read_csv("../pandas_test/orders.csv")

In [4]:
import pandas as pd

def clean_data(df):
    # Drop columns: 'days_since_prior_order', 'air fresheners candles' and 133 other columns
    df.drop(columns=['days_since_prior_order', 'air fresheners candles', 'asian foods', 'baby accessories', 'baby bath body care', 'baby food formula', 'bakery desserts', 'baking ingredients', 'baking supplies decor', 'beauty', 'beers coolers', 'body lotions soap', 'bread', 'breakfast bakery', 'breakfast bars pastries', 'bulk dried fruits vegetables', 'bulk grains rice dried goods', 'buns rolls', 'butter', 'candy chocolate', 'canned fruit applesauce', 'canned jarred vegetables', 'canned meals beans', 'canned meat seafood', 'cat food care', 'cereal', 'chips pretzels', 'cleaning products', 'cocoa drink mixes', 'coffee', 'cold flu allergy', 'condiments', 'cookies cakes', 'crackers', 'cream', 'deodorants', 'diapers wipes', 'digestion', 'dish detergents', 'dog food care', 'doughs gelatins bake mixes', 'dry pasta', 'eggs', 'energy granola bars', 'energy sports drinks', 'eye ear care', 'facial care', 'feminine care', 'first aid', 'food storage', 'fresh dips tapenades', 'fresh fruits', 'fresh herbs', 'fresh pasta', 'fresh vegetables', 'frozen appetizers sides', 'frozen breads doughs', 'frozen breakfast', 'frozen dessert', 'frozen juice', 'frozen meals', 'frozen meat seafood', 'frozen pizza', 'frozen produce', 'frozen vegan vegetarian', 'fruit vegetable snacks', 'grains rice dried goods', 'granola', 'hair care', 'honeys syrups nectars', 'hot cereal pancake mixes', 'hot dogs bacon sausage', 'ice cream ice', 'ice cream toppings', 'indian foods', 'instant foods', 'juice nectars', 'kitchen supplies', 'kosher foods', 'latino foods', 'laundry', 'lunch meat', 'marinades meat preparation', 'meat counter', 'milk', 'mint gum', 'missing', 'more household', 'muscles joints pain relief', 'nuts seeds dried fruit', 'oils vinegars', 'oral hygiene', 'other', 'other creams cheeses', 'packaged cheese', 'packaged meat', 'packaged poultry', 'packaged produce', 'packaged seafood', 'packaged vegetables fruits', 'paper goods', 'pasta sauce', 'pickled goods olives', 'plates bowls cups flatware', 'popcorn jerky', 'poultry counter', 'prepared meals', 'prepared soups salads', 'preserved dips spreads', 'protein meal replacements', 'red wines', 'refrigerated', 'refrigerated pudding desserts', 'salad dressing toppings', 'seafood counter', 'shave needs', 'skin care', 'soap', 'soft drinks', 'soup broth bouillon', 'soy lactosefree', 'specialty cheeses', 'specialty wines champagnes', 'spices seasonings', 'spirits', 'spreads', 'tea', 'tofu meat alternatives', 'tortillas flat bread', 'trail mix snack mix', 'trash bags liners', 'vitamins supplements', 'water seltzer sparkling water', 'white wines', 'yogurt'], inplace=True)
    return df

df = clean_data(df.copy())
df.head()

   order_id  order_dow  order_hour_of_day
0      1597          1                  8
1      2011          4                 10
2      2822          0                  8
3      2889          1                 15
4      3971          2                 18

In [14]:
from random import seed
from random import randint

In [21]:
# Create a column price with random values
seed(1)
df['price'] = df['order_id'].apply(lambda x: randint(1, 100))
df

      order_id  order_dow  order_hour_of_day  price
0         1597          1                  8     18
1         2011          4                 10     73
2         2822          0                  8     98
3         2889          1                 15      9
4         3971          2                 18     33
...        ...        ...                ...    ...
4995   3419893          5                 19     80
4996   3420158          0                 14     33
4997   3420769          2                 17     92
4998   3420894          0                 14     19
4999   3420909          0                 19     92

[5000 rows x 4 columns]

In [22]:
chat = ChatOpenAI(model_name="gpt-3.5-turbo", temperature=0.0)
agent = create_pandas_dataframe_agent(chat, df, verbose=True)

In [17]:
agent.run("What is the total price generated from all orders?")

> Entering new AgentExecutor chain...
Thought: I need to sum up the 'price' column of the dataframe
Action: python_repl_ast
Action Input: df['price'].sum()
Observation: 252048
Thought:I have the sum of all prices, but I need to provide it as the final answer
Final Answer: 252048

> Finished chain.

'252048'

In [18]:
df['price'].sum()

252048

In [ ]:
agent.run("What is the average price generated from all orders?")

In [31]:
"palindrome"[::-2]

'eodia'